@import '../../common/styles/sass/variables';

.projectsBlock {
  display: flex;
  background: $bgSecondColor;

  .projectsContainer {
    flex-direction: column;

    .projects {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      align-items: flex-start;
      flex-wrap: wrap;
      @media screen and (max-width: 1020px) {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
      }
    }
  }

}