.skillsBlock {
  display: flex;
  background-color: #1f1f1f;

  .skillsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 40px 0;

    .skills {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
  }
}