.optionsBlock {
    display: flex;
    background-color: #000000;
}

.optionsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding: 40px 0;
}
.optionsContainer h2 {
    color: #e8e8e8;
    font-family: sans-serif;
    margin: 0;
}
.optionsContainer button {
    margin-top: 40px;
}

@media screen and (max-width: 420px) {
    .optionsContainer h2 {
        text-align: center;
    }
}