.mainBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.greetingText {
    width: 340px;
    height: 140px;
    color: #fafafa;
    background-color: darkslateblue;
}
.greetingText span {
    font-size: 22px;
    font-family: sans-serif;
}
.greetingText h1 {
    font-family: sans-serif;
}
.greetingText p {
    font-size: 22px;
    font-family: sans-serif;
}

.greetingPhoto {
    width: 300px;
    height: 300px;
    color: #fafafa;
    background-color: darkslateblue;
}